/* :invalid {
    background: red;
  } */

/* input:not(:placeholder-shown) {
border-color: green;
}

input:placeholder-shown {
border-color: red;

} */

/* .prompt{
display: none;
} */


.confirm, .error {
  display: none;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

input:invalid+.prompt2>p.error,
input:valid+.prompt2>p.confirm{
  display: block;
}


.confirm, .error {
    display: none;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }
  
  input:invalid+.prompt>p.error,
  input:valid+.prompt>p.confirm{
    display: block;
  }

