

.confirm, .error {
    display: none;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }
  
  input:invalid+.prompt>p.error,
  input:valid+.prompt>p.confirm{
    display: block;
  }

